/* @theme huttley-lab */

@import 'Gaia';

section {  /* Each slide is a section class */
  background-color: #ffffff;
  font-size: 2em;
  padding: 1rem; /* Optional: Add padding for better spacing */
  font-family:'Segoe UI';
}

.bottom_align_contents {
display:flex; 
align-items:flex-end
}

.two_columns {
display: grid;
grid-template-columns: repeat(2, minmax(0, 1fr));
gap: 1rem;
}

.three_columns {
display: grid;
grid-template-columns: repeat(3, minmax(0, 1fr));
gap: 1rem;
}

section::after {
content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

section.coverpage {
background-image: url('./images/ANU_logo.png');
background-repeat: no-repeat;
background-size: 30%;
background-position: right 10px bottom 10px;
}



